@import '../../../../styles/variables';
@import '../../../../styles/theme';

.contact{
    @include theme($sec);
    &_card{
        &_container{
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            span{
                margin-bottom: 5vh;
            }
            p{
                margin-bottom: 1vh;
            }
        }
    }
}