@import '../../../../styles/variables';
@import '../../../../styles/screens';
  .image_container{
    height: 35vh;
    text-align: center;
    @include center;
    flex-direction: column;
    overflow: hidden;
    padding: 0;
    margin: 0;
    @include tablet-down{
      position: relative;
      // height: 35vh;
      margin: 8vh 0;
    }
    &__image__implicit{
      position: inherit;
    }
    // svg{
    //   height: inherit;
    //   path{
    //     fill: $secondary-light;
    //   }
    // }
    div{
      height: inherit;
      width: auto;
      aspect-ratio: 1/1;
      @include tablet-up{
        position: absolute;
      }
      @include center;
    }
}