@import '../../../../styles/variables';
@import '../../../../styles/theme';

.loader{
    &_container{
    @include theme($pri);

    height: 90vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
    padding: 0 $padding-side-page;
    width: 100vw;

    position: fixed;
    z-index: 1;
    }
    &_hidden{
        display: none;
    }
}
.image {
	animation: animate_image 1.2s infinite alternate;
	transform-origin: center;
}

/* Heart beat animation */
@keyframes animate_image{
	to { opacity: 0.2; }
}