@import "../../styles/theme";
@import "../../styles/variables";
@import "../../styles/screens";
.container {
  @include theme($sec);

  width: 100%;
  min-height: 100vh;
  padding: 5% $padding-side-page;
  &__title{
    margin: 5% 0;
    @include tablet-down{
        margin: 15% 0;
    }
  }
  &__cards {
    width: 100%;
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    row-gap: 5vh;
    column-gap: 3%;
    padding: 5% 0;
    @include tablet-down {
      grid-template-columns: 45% 45%;
      column-gap: 10%;
    }
  }
}
