@import '../../../../styles/theme';
@import '../../../../styles/variables';

.enroll{
    &_container{
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        @include theme($pri);
        &_sub{
            width: 30%;
            text-align: center;
        }
    }
}