@import '../../../../styles/theme';
@import '../../../../styles/variables';
@import '../../../../styles/screens';
.enroll{
    &_container{
        min-height: 100vh;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        padding: 0 $padding-side-page;
        @include theme($pri);
        &_sub{
            width: 30%;
            text-align: center;
            @include tablet-down{
                width: 85%;
            }
        }
    }
}