@import "../../../../styles/variables";
@import "../../../../styles/theme";
.card{
    &_container{
        width: 100%;
        height: 12vh;
        // background-color: $primary_12;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}