@import '../../../../styles/theme';
@import '../../../../styles/variables';
@import '../../../../styles/screens';
.contact{
    &_container{
        @include theme($sec);
        
        min-height: 80vh;
        width: 100%;
        padding: 0% $padding-side-page;
        

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        
        &_top{
            justify-content: center;
            align-items: center;
        }
        &_bottom{
            width: 100%;
            display: flex;
            flex-direction: row;
        }
        @include tablet-down{
            // margin-top: 20%;
            &_bottom{
                flex-direction: column;
            }
        }
    }
}