@import '../../../../styles/variables.scss';

.contact{
    &_container{
        min-height: 100vh;
        width: 100%;
        background-color: #63794b;
        padding: 5% 10%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        &_top{
            justify-content: center;
            align-items: center;
        }
        &_bottom{
            width: 100%;
            display: flex;
            flex-direction: row;
        }
    }
}