@import "../../../../styles/theme";
@import "../../../../styles/variables";
@import "../../../../styles/screens";

.home {
  &_container {
    height: 80vh;
    width: 100%;
    display: grid;
    // grid-template-columns: 70% 30%;
    // padding: 5% $padding-side-page;
    align-items: center;
    margin-top: 10vh;
    @include theme($sec);
    @include tablet-down{
      display: flex;
      flex-direction: column-reverse;
      height: auto;
    }
  }
  &_description {
    height: inherit;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    position: absolute;
    background-color: $secondary-moderate;
    @include tablet-down{
      aspect-ratio: 3/4;
      padding: 0 $padding-side-page;
      justify-content: center;
    }
    &_text {
      text-align: center;
      height: 100%;
      
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      @include tablet-up{
        width: 72%; 
      }
    }
  }
  &_image {
    height: 100%;
    width: 100%;
    background-color: #63794b;
    // border-radius: 24vw 24vw 0px 0px;
    @include tablet-down{
      aspect-ratio: 3/4;
    }
  }
}
