@import '../../../../styles/theme';
@import '../../../../styles/variables';
@import '../../../../styles/screens';

.header{
    &_container{
        position: fixed;
        width: 100%;
        top: 0;
    }
    &_phone{
        @include tablet-up{
            display: none;
        }
        
        width: 100vw;
       &_display{
        @include theme($pri);
        height: 10vh;
        padding: 3% $padding-side-page;

        display: flex;
        justify-content: space-between;
        align-items: center;

        // display: none;
       }
       &_expanded{
        position: fixed;
        height: 100%;
        top: 0;
        width: inherit;

        display: flex;
        justify-content: space-between;
        flex-direction: column;

        padding: 0% 15% 10% 15%;
        align-items: center;
        
        @include theme($pri);

        
        transition: margin-left 1s;
        &_closed{
            margin-left: 100vw;
        }
        &_opened{
            margin-left: 0;
        }
        &_controls{
            height: 10vh;
            display: flex;
            justify-content: center;
        }
        &_tabs{
            display: flex; 
            justify-content: space-between;
            flex-direction: column;
            align-items: center;

            width: 100%;
            height: 100%; 
            padding: 20% 0;
        }
        // display: none;
       }
       button{
        background-color: transparent;
        border: none;
        
       }
    }
    &_tablet{
        @include tablet-down{
            display: none;
        }
        padding: 0 $padding-side-page;
        height: 10vh;
        
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        @include theme($pri);
        // display: none;
    }
    &_menu_icon{
        width: 30px;
        height: 30px;
        text-align: center;
        display: flex;
        align-items: flex-end;
        justify-content: center;

    }
    &_logo{
        padding: 15px;
        margin: 0 40px;
        text-align: center;
        display: flex;
        align-items: flex-end;
        justify-content: center;

    }
    &_buttons{
        background-color: transparent;
        border: 0px transparent;
        width: 80%;
        height: 5vh;
        border-bottom: 1px solid transparent;
        border-top: 1px solid transparent;
        &:hover{
            cursor: pointer;
            border-bottom: 1px solid $secondary;
            border-top: 1px solid $secondary;
        }
        &_active{
            border-bottom: 1px solid $secondary;
        }
    }
}