@import '../../styles/theme';
@import '../../styles/variables';
@import '../../styles/screens';

.container{
    @include theme($pri);

    width: 100%;
    padding: 5% $padding-side-page;
    &_text{
        width: inherit;
        margin: 5% 0;
        @include tablet-up{
            div{
                width: 48%;
            }
        }
        &_left{
            text-align: left;
        }
        &_right{
            text-align: right;
            
            display: flex;
            justify-content: flex-end;
        }
    }
}