@import './type';

@mixin fonts($color){
    h1{
      color: $color;
      font-weight: normal;
      span{
         @include headline-bold();
         color: $color;
      }
    }
    h2{
      @include body-large-bold();
      color: $color;
      font-weight: normal;
      span{
        @include body-large-bold();
        color: $color;
      }
    }
    p{
     @include body-regular();
     color: $color;
    }
    span{
      @include body-small();
      color: $color;
    }
  }  