@import './variables';
@import './fonts';

@mixin theme($type){
    @if $type == $sec{
      background-color: $secondary;
      @include fonts($primary)
    }
    @if $type == $pri{
      background-color: $primary;
      @include fonts($secondary-dark)
    }
    @if $type == $pri_12{
      background-color: $primary_12;
      @include fonts($primary)
    }
    @if $type == $sec_52{
      background-color: $secondary-light;
      @include fonts($secondary-dark)
    }
    @if $type == $ter{
      background-color: $tertiary;
      @include fonts($primary)
    }
  }