// !important
// color setup variables
$secondary:#2f6139;
$primary: #fffff1;
$tertiary: #1D1D1D;
$primary_12: #FFE9C912;
$secondary-dark: #2D382F;
$secondary-light: #2f613952;
$secondary-moderate: #2f61397c;

// !important 
// theme string variables
$sec: "secondary";
$pri: "primary";
$ter: "tertiary";
$pri_12: "primary_12";
$sec_52: "secondary-light";

// !important
// screen size variables
$phone: 600px;
$tablet: 900px;
$large: 1200px;
$extra_large: 1800px;

// shared spacing
$margin-side-page: 10%;
$padding-side-page: 12%;


@mixin center() {
    display: flex;
    justify-content: center;
    align-items: center;
    
}