// !important
// color setup variables
$secondary:#63794B;
$primary: #FFE9C9;
$tertiary: #1D1D1D;
$primary_12: #FFE9C912;

// !important 
// theme string variables
$sec: "secondary";
$pri: "primary";
$ter: "tertiary";

// !important
// screen size variables
$phone: 600px;
$tablet: 900px;
$large: 1200px;
$extra_large: 1800px;
