// !important
// color setup variables
$secondary:#5f7363;
$primary: #f9fadc;
$tertiary: #1D1D1D;
$primary_12: #FFE9C912;
$secondary-dark: #2D382F;

// !important 
// theme string variables
$sec: "secondary";
$pri: "primary";
$ter: "tertiary";

// !important
// screen size variables
$phone: 600px;
$tablet: 900px;
$large: 1200px;
$extra_large: 1800px;
