
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  // font-family: 'Bodoni Moda', serif;
}
// h1{
//   span{
//      @include headline-bold();
//   }
// }
// h2{
//   @include header-display();
//   span{
//     @include body-large-bold();
//   }
// }
// p{
//  @include body-regular();
// }
// span{
//   @include body-small();
// }

